openapi: 3.0.3
info:
  title: 11/11 AI Platform API
  version: "1.0.0"
  description: |
    Public API for the 11/11 AI Platform — governed, auditable AI execution services.

    This API documents interfaces and behavior only.
    Model internals, training methods and policy engines remain proprietary.

servers:
  - url: https://api.11ai.com

tags:
  - name: Jobs
    description: Job submission, status, and lifecycle
  - name: Results
    description: Result retrieval and outputs
  - name: Audit
    description: Audit-aligned events and metadata

security:
  - ApiKeyAuth: []
  - SignatureAuth: []

paths:
  /ai/jobs:
    post:
      tags: [Jobs]
      summary: Submit a job
      description: |
        Submits a governed AI job for execution. Execution is policy-aware and auditable.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubmitJobRequest"
            examples:
              example:
                value:
                  tenant_id: "tenant_123"
                  job_type: "analysis"
                  input:
                    object_id: "obj_456"
                  options:
                    priority: "standard"
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobReceipt"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized
        "429":
          description: Rate limited

    get:
      tags: [Jobs]
      summary: List jobs
      description: Returns recent jobs visible to the caller.
      parameters:
        - name: tenant_id
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Job list
          content:
            application/json:
              schema:
                type: object
                properties:
                  jobs:
                    type: array
                    items:
                      $ref: "#/components/schemas/JobStatus"

  /ai/jobs/{job_id}:
    get:
      tags: [Jobs]
      summary: Get job status
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Status
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatus"
        "404":
          description: Not found

    delete:
      tags: [Jobs]
      summary: Cancel a job
      description: |
        Requests cancellation of a job. Cancellation behavior may depend on current state.
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "202":
          description: Cancellation requested
        "404":
          description: Not found

  /ai/jobs/{job_id}/result:
    get:
      tags: [Results]
      summary: Get job result
      description: Retrieves result payload if the job is completed successfully.
      parameters:
        - name: job_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Result payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResult"
        "409":
          description: Not ready
        "404":
          description: Not found

  /ai/audit/events:
    get:
      tags: [Audit]
      summary: List audit events
      description: Returns audit events for job lifecycle and governed execution.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: Audit events
          content:
            application/json:
              schema:
                type: object
                properties:
                  events:
                    type: array
                    items:
                      $ref: "#/components/schemas/AuditEvent"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-11-API-KEY
    SignatureAuth:
      type: apiKey
      in: header
      name: X-11-SIGNATURE

  schemas:
    SubmitJobRequest:
      type: object
      required: [tenant_id, job_type, input]
      properties:
        tenant_id:
          type: string
        job_type:
          type: string
          description: High-level classification (analysis, transform, evaluate, etc.)
        input:
          type: object
          additionalProperties: true
        options:
          type: object
          additionalProperties: true

    JobReceipt:
      type: object
      required: [job_id, status]
      properties:
        job_id:
          type: string
        status:
          type: string
          enum: [ACCEPTED]
        audit_id:
          type: string

    JobStatus:
      type: object
      required: [job_id, status]
      properties:
        job_id:
          type: string
        status:
          type: string
          enum: [PENDING, RUNNING, SUCCEEDED, FAILED, CANCELED]
        updated_at:
          type: string
          format: date-time
        audit_id:
          type: string

    JobResult:
      type: object
      properties:
        job_id:
          type: string
        output:
          type: object
          additionalProperties: true
        audit_id:
          type: string

    AuditEvent:
      type: object
      properties:
        audit_id:
          type: string
        event_type:
          type: string
          example: job_submitted
        job_id:
          type: string
          nullable: true
        timestamp:
          type: string
          format: date-time
        details:
          type: object
          additionalProperties: true

