openapi: 3.0.3
info:
  title: Atlas 11/11 IPFS API
  version: "1.0.0"
  description: |
    Public API for Atlas 11/11 IPFS — secure, auditable storage and data access services.

    This API documents **interfaces and behavior only**.
    Storage internals, network topology and policy engines remain proprietary.

servers:
  - url: https://api.11ai.com

tags:
  - name: Objects
    description: Object creation, retrieval, and access flows
  - name: Metadata
    description: Metadata and access context
  - name: Access
    description: Access-controlled operations and audit alignment

security:
  - ApiKeyAuth: []
  - SignatureAuth: []

paths:
  /atlas/objects:
    post:
      tags: [Objects]
      summary: Create an object record (upload intent)
      description: |
        Creates an object record and returns an upload intent.
        The actual upload mechanism may vary by environment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateObjectRequest"
            examples:
              basic:
                value:
                  tenant_id: "tenant_123"
                  name: "report.pdf"
                  content_type: "application/pdf"
                  metadata:
                    category: "research"
      responses:
        "201":
          description: Object record created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectRecord"
        "400":
          description: Invalid request
        "401":
          description: Unauthorized

    get:
      tags: [Objects]
      summary: List objects
      description: Returns object records visible to the caller.
      parameters:
        - name: tenant_id
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
      responses:
        "200":
          description: List of objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  objects:
                    type: array
                    items:
                      $ref: "#/components/schemas/ObjectRecord"

  /atlas/objects/{object_id}:
    get:
      tags: [Objects]
      summary: Get an object record
      parameters:
        - name: object_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Object record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectRecord"
        "404":
          description: Not found

    delete:
      tags: [Objects]
      summary: Delete an object record
      description: |
        Deletes the object record. Data retention and deletion semantics
        may be governed by policy.
      parameters:
        - name: object_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Deleted
        "404":
          description: Not found

  /atlas/objects/{object_id}/metadata:
    patch:
      tags: [Metadata]
      summary: Update metadata
      description: Updates metadata fields for an object record.
      parameters:
        - name: object_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetadataPatch"
            examples:
              example:
                value:
                  classification: "internal"
                  tags: ["labs", "2026"]
      responses:
        "200":
          description: Updated object record
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ObjectRecord"

  /atlas/access/grants:
    post:
      tags: [Access]
      summary: Create an access grant
      description: |
        Creates an access grant for an object. Grants are auditable and policy-governed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessGrantRequest"
      responses:
        "200":
          description: Grant created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessGrantResponse"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-11-API-KEY
    SignatureAuth:
      type: apiKey
      in: header
      name: X-11-SIGNATURE

  schemas:
    CreateObjectRequest:
      type: object
      required: [tenant_id, name, content_type]
      properties:
        tenant_id:
          type: string
        name:
          type: string
        content_type:
          type: string
        metadata:
          type: object
          additionalProperties: true

    MetadataPatch:
      type: object
      additionalProperties: true

    ObjectRecord:
      type: object
      required: [object_id, tenant_id, name, content_type, created_at, status]
      properties:
        object_id:
          type: string
        tenant_id:
          type: string
        name:
          type: string
        content_type:
          type: string
        created_at:
          type: string
          format: date-time
        status:
          type: string
          example: available
        metadata:
          type: object
          additionalProperties: true

    AccessGrantRequest:
      type: object
      required: [object_id, grantee, permissions]
      properties:
        object_id:
          type: string
        grantee:
          type: string
          description: External identifier for the grantee
        permissions:
          type: array
          items:
            type: string
          example: ["read"]
        expires_at:
          type: string
          format: date-time
          nullable: true

    AccessGrantResponse:
      type: object
      properties:
        grant_id:
          type: string
        object_id:
          type: string
        status:
          type: string
          example: active
        audit_id:
          type: string

